img {
    height: 200px;
    width: 200px;
}

body {
    display: flex;
    flex-direction: column;
}

.First-of-four {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 20px 100px;
    gap: 0;
    height: 350px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-too {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.books {
    height: 50px;
    width: 50px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    color: white;
}

a {
    text-decoration: none;
}

.Second-of-four {
    display: flex;
    flex-direction: column;
}

.piles {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.random {
    text-align: center;
}

.Third-of-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 70px;
    background-color: #E5E7Eb;
    margin-top: 20px;
}

.Fourth-of-four {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    background-color: #3882F6;
    margin: 30px 400px;
    gap: 200px;
}

.sign-text h1 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    
}

.sign-text h2 {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    height: 50px;
    font-size: 12px;
}